<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                Edit Users
            </span>
            <a href="#/admin" class="glyphicon glyphicon-chevron-left pull-right" id="checkmark">
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-lg-12">
        <ul class="list-group">
            <li ng-click="" ng-repeat="user in model.users" class="list-group-item text-center">
                <br>
                <textarea ng-model="this.user.username" class="form-control text-center" rows="1" placeholder="Name"></textarea>
                <textarea ng-model="this.user.firstName" class="form-control text-center" rows="1" placeholder="First Name"></textarea>
                <textarea ng-model="this.user.lastName" class="form-control text-center" rows="1" placeholder="Last Name"></textarea>
                <textarea ng-model="this.user.emailAddress" class="form-control text-center" rows="1" placeholder="Email Address"></textarea>
                <textarea readonly ng-model="this.user._id" class="form-control text-center" rows="1" placeholder="Name"></textarea>
                <br>
                <a ng-click="model.updateUser(this.user)"
                   class="btn btn-success btn-block">Update User</a>
                <a ng-click="model.promoteAdmin(this.user)"
                   class="btn btn-primary btn-block">Promote to Admin</a>
                <a ng-click="model.demoteAdmin(this.user)"
                   class="btn btn-primary btn-block">Demote to User</a>
                <a ng-click="model.deleteUser(this.user)"
                   class="btn btn-danger btn-block">Delete User</a>
                </a>
                <br>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/intro" class="glyphicon glyphicon-home"></a>
            </div>
            <div class="navbar-footer">
                <div class="navbar-text left">
                    <a href="#/user/useredit" class="glyphicon glyphicon-user"></a>
                </div>
            </div>
        </div>
    </div>
</nav>