<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-flmodel.uid">
        <div class="navbar-header">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="glyphicon glyphicon-chevron-left pull-left" id="plus-glyphicon"></a>
            <span class="navbar-brand">
                Choose Widget
            </span>
        </div>
    </div>
</nav>


<div class="container">

    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/HEADER" class="content-main">Header</a>
    </div>
    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/HEADER" class="content-main">Label</a>
    </div>
    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/HTML" class="content-main">HTML</a>
    </div>
    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/HEADER" class="content-main">Text Input</a>
    </div>
    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/HEADER" class="content-main">Link</a>
    </div>
    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/HEADER" class="content-main">Button</a>
    </div>
    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/IMAGE" class="content-main">Image</a>
    </div>
    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/YOUTUBE" class="content-main">YouTube</a>
    </div>
    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/HEADER" class="content-main">Data Table</a>
    </div>
    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/HEADER" class="content-main">Repeater</a>
    </div>
    <div class="row website-row">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/111/TEXT" class="content-main">Text</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-flmodel.uid">
        <div class="navbar-footer">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}" class="glyphicon glyphicon-user"></a>
            </div>
        </div>
    </div>
</nav>